.blog {
  padding: 6rem 0;
  background-color: cl(darkblue);
  color: cl(white);
  .inner2 {
    text-align: center;
    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
      span {
        font-size: 1.8rem;
      }
    }
    .blog-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
      .blog-item {
        width: calc((100% - 8rem)/3);
        text-align: left;
        .blog-title {
          font-size: 1.8rem;
          margin-top: 1.2rem;
        }
        .blog-date {
          font-size: 1.4rem;
          margin-top: 1.2rem;
        }
      }
    }
    .cmn-btn {
      text-align: left;
      background-color: cl(white);
      a {
        color: cl(darkblue);
      }
      .line,
      .line2 {
        background-color: cl(darkblue);
      }
    }
  }
}